<html>
<head>
  <meta charset="UTF-8">
  <title>Assinatura de Email</title>
  <style>
    div { 
        font-family: Myriad Pro Light,sans-serif;
        line-height: 0.7;
        max-width: 718px;
      }
  </style>
</head>
<body>
    <div>
        <p><b>--</b></p>
        <p><b>{{ nome }}</b></p>
        <p>{{ cargo }} | Rede ANCORA Brasil</p>
        {% if telefone %}
          <p>{{ telefone }} / 4004-9100</p>
        {% else %}
          <p>4004-9100</p>
        {% endif %}
        {% if skype %}
          <p>Skype: {{ skype }}</p>
        {% endif %}
        <img src="https://cdn.redeancora.com.br/Manual_da_Marca/assinatura_email.png" alt="assinatura_email" width="718" height="88" />
        <p style="color: #3dae2b;">Antes de imprimir, pense na sua responsabilidade com o Meio Ambiente.</p>
    </div>
</body>
</html>